In [1]:
# Import dependencies
import os
import pandas as pd
import numpy as np

In [26]:
# Read in csv
cdc_2015_df = pd.read_csv('2015.csv')
cdc_2015_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [4]:
# Drop columns that are entirely null
cdc_2015_df = cdc_2015_df.dropna(axis='columns', how='all')
cdc_2015_df.shape

(441456, 326)

In [39]:
# Find columns with more than 50% null values
check = cdc_2015_df.isnull().sum() / len(cdc_2015_df) 

mostly_null_cols = check[check > 0.5].index

len(list(mostly_null_cols))

150

In [40]:
# List of columns with more than 50% null values
list(mostly_null_cols)

['COLGHOUS',
 'LADULT',
 'CTELNUM1',
 'CELLFON2',
 'CADULT',
 'PVTRESD2',
 'CCLGHOUS',
 'CSTATE',
 'LANDLINE',
 'HHADULT',
 'BPMEDS',
 'ASTHNOW',
 'DIABAGE2',
 'NUMPHON2',
 'PREGNANT',
 'SMOKDAY2',
 'STOPSMK2',
 'LASTSMK2',
 'AVEDRNK2',
 'DRNK3GE5',
 'MAXDRNKS',
 'EXEROFT2',
 'EXERHMM2',
 'LMTJOIN3',
 'ARTHDIS2',
 'ARTHSOCL',
 'JOINPAIN',
 'FLSHTMY2',
 'IMFVPLAC',
 'HIVTSTD3',
 'WHRTST10',
 'PDIABTST',
 'PREDIAB1',
 'INSULIN',
 'BLDSUGAR',
 'FEETCHK2',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM',
 'DIABEYE',
 'DIABEDU',
 'PAINACT2',
 'QLMENTL2',
 'QLSTRES2',
 'QLHLTH2',
 'CAREGIV1',
 'CRGVREL1',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB1',
 'CRGVPERS',
 'CRGVHOUS',
 'CRGVMST2',
 'CRGVEXPT',
 'VIDFCLT2',
 'VIREDIF3',
 'VIPRFVS2',
 'VINOCRE2',
 'VIEYEXM2',
 'VIINSUR2',
 'VICTRCT4',
 'VIGLUMA2',
 'VIMACDG2',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'WTCHSALT',
 'LONGWTCH',
 'DRADVISE',
 'ASTHMAGE',
 'ASATTACK',
 'ASERVIST',
 'ASDRVIST',
 'ASRCHKUP',
 'ASACTLIM',
 'ASYMPTOM',
 'ASNOSLEP',
 'ASTHMED3',
 'ASINHALR',
 'HAREHAB1',
 'STREHAB1',
 'CVDASPRN',
 'ASPUNSAF',
 'RLIVPAIN',
 'RDUCHART',
 'RDUCSTRK',
 'ARTTODAY',
 'ARTHWGT',
 'ARTHEXER',
 'ARTHEDU',
 'TETANUS',
 'HPVADVC2',
 'HPVADSHT',
 'SHINGLE2',
 'HADMAM',
 'HOWLONG',
 'HADPAP2',
 'LASTPAP2',
 'HPVTEST',
 'HPLSTTST',
 'HADHYST2',
 'PROFEXAM',
 'LENGEXAM',
 'BLDSTOOL',
 'LSTBLDS3',
 'HADSIGM3',
 'HADSGCO1',
 'LASTSIG3',
 'PCPSAAD2',
 'PCPSADI1',
 'PCPSARE1',
 'PSATEST1',
 'PSATIME',
 'PCPSARS1',
 'PCPSADE1',
 'SCNTMNY1',
 'SCNTMEL1',
 'SCNTPAID',
 'SCNTWRK1',
 'SCNTLPAD',
 'SCNTLWK1',
 'SXORIENT',
 'TRNSGNDR',
 'RCSGENDR',
 'RCSRLTN2',
 'CASTHDX2',
 'CASTHNO2',
 'EMTSUPRT',
 'LSATISFY',
 'ADPLEASR',
 'ADDOWN',
 'ADSLEEP',
 'ADENERGY',
 'ADEAT1',
 'ADFAIL',
 'ADTHINK',
 'ADMOVE',
 'MISTMNT',
 'ADANXEV',
 '_CRACE1',
 '_CPRACE',
 '_CLLCPWT',
 'PADUR2_',
 'PAFREQ2_',
 '_FLSHOT6',
 '_PNEUMO2']